<form method="post" action="/add/create">
  <input type="hidden" name="_method" value="put" />
  Name: <input type="text" name="book_name" />
  URL: <input type="text" name="book_url" />
  <input type="submit" value="Submit" />    
</form>